.courseContainer{

    

    background: linear-gradient(to right, #0c0c0c, #111112);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* border: 10px solid black; */
}



.toggle{


    width: calc(100% - (1/12) * 100%);
max-width: 1200px;
margin-left: auto;
margin-right: auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
min-height: 50vh;
}

